// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color
$prim-red: #f03861;
$prim-white: #fef2f2;
$prim-yellow: #f5d97e;
$prim-brown: #7d5e3f;
